header {
    color: black;
    height: 70px;
    background: white url(../images/logo.png);
    background-repeat: no-repeat;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background-position: 20px center;
    flex-shrink: 0;
    justify-content: center;
}
